{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block content %}

<!-- Introduction -->
<section class="container first-element-buffer">
    <div class="row">
        <div class="col mb-3">
            <div class="pb-5 border-accent-primary">
                <h2 class="text-center mb-5">Cart</h2>
                <!-- Check for cart items and if a registered user, points -->
                {% if cart_items %}
                    <p>You've added <strong>{{cart_items|length}} item{{ cart_items|length|pluralize }}</strong> to your cart{% if user.is_authenticated and points_available > 0 %} and have <strong>{{ points_available}} point{{ points_available|pluralize }}</strong> available to redeem against this order{% endif %}.</p>
                    <!-- Apply discount button -->
                    {% if points_available > 0 and not discount_applied %}
                        <a href="{% url 'toggle_discount' %}" class="btn btn-sm btn-dark" >
                            <span class="icon">
                                <i class="fas fa-piggy-bank"></i>
                            </span>Apply discount
                        </a>
                    <!-- Remove discount button -->
                    {% elif points_available > 0 and discount_applied %}
                        <div class="d-flex align-items-center justify-content-between">
                            <a href="{% url 'toggle_discount' %}" class="btn btn-sm btn-outline-dark" >
                                <span class="icon">
                                    <i class="fas fa-times"></i>
                                </span>Remove discount
                            </a>
                            <span class="badge badge-pill badge-warning">Discount applied</span>
                        </div>
                    {% endif %}
                                    
                {% else %}
                    <p>Come back when you've added something!</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Cart contents -->
<section>
    {% if cart_items %}
        <div class="cart-contents border-accent-primary mt-5">
            {% for item in cart_items %}
                <div class="row pb-5">
                    <!-- SVG -->
                    <div class="col-2 align-self-center text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25px" length="auto" viewBox="0 0 154 339">
                            {% include 'products/includes/product-svg.html' %}
                        </svg>
                    </div>

                    <!-- Product -->
                    <div class="col-10">
                        <div class="row">
                            <div class="col-8">
                                <div>
                                    {{ item.product.name }} <span class="text-muted">({{ item.nic.strength }}-{{ item.size.label }})</span>
                                </div>
                            </div>
                            <!-- Remove from cart -->
                            <div class="col text-center">
                                <a class="remove-item text-danger" id="remove_{{ item.item_id }}">
                                    <span class="icon">
                                        <i class="fas fa-trash-alt"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="row text-center align-items-center flex-nowrap overflow-hidden">
                            <!-- Price per unit -->
                            <div class="col">
                                    £{{ item.size.price }}
                            </div>
                            <!-- Quantity input -->
                            <div class="col">
                                <form action="{% url 'update_cart' item.item_id %}" method="POST" class="form update-form">
                                    {% csrf_token %}
                                    <div class="d-inline-flex cart-input-wrapper">
                                        <div class="input-group"> 
                    
                                            <!-- Decrement qty -->
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-sm" 
                                                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                    <i class="fas fa-caret-left fa-sm"></i>
                                                </button>
                                            </div>
                    
                                            <!-- Input qty -->
                                            <input class="form-control form-control-sm qty_input text-center" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" data-token="{{ csrf_token }}" id="id_qty_{{ item.item_id }}" autocomplete="off">
                    
                                            <!-- Increment qty -->
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-sm"
                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                    <i class="fas fa-caret-right fa-sm"></i>
                                                </button>
                                            </div>
                    
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!-- Line total -->
                            <div class="col">
                                <strong>£{{ item.price | calc_subtotal:item.quantity }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="cart-summary-container mt-5 text-center">
    
            <div class="row">
                <div class="col-auto ml-auto">
                    Cart Total:
                </div>
                <div class="col-3">
                    <strong>£{{ original_total|floatformat:2 }}</strong>
                </div>
            </div>

            {% if discount_applied %}
                <div class="row">
                    <div class="col-auto ml-auto text-right">
                        <span class="float-right">After discount:</span></br>
                        <a href="{% url 'toggle_discount' %}" class="text-danger">
                            <span class="icon">
                                <i class="fas fa-times"></i>
                            </span>Remove discount
                        </a>
                    </div>
                    <div class="col-3">
                        <strong>£{{ total|floatformat:2 }}</strong>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-auto ml-auto">
                    Delivery:
                </div>
                <div class="col-3">
                    <strong>£{{ delivery|floatformat:2 }}</strong>
                </div>
            </div>
            
            <div class="row mt-1">
                <div class="col-auto ml-auto">
                    <h5><strong>Grand Total:</strong></h5>
                </div>
                <div class="col-3">
                    <h5><strong>£{{ grand_total|floatformat:2 }}</strong></h5>
                </div>
            </div>

        </div>
        
        <div class="row pt-5">
            <div class="col-12 col-md-6 offset-md-6">
                {% if not user.is_authenticated and total >= 1 %}
                    <p>You could earn <strong>{{ points_earned }} point{{ points_earned|pluralize }}</strong> for completing this purchase. Register or sign in to start earning!</p>
                {% else %}
                    <p>You will earn <strong>{{ points_earned }} point{{ points_earned|pluralize }}</strong> for completing this purchase!</p>
                {% endif %}
                {% if free_delivery_delta > 0 %}
                <p>
                    Spend <strong>£{{ free_delivery_delta|floatformat:2 }}</strong> more for free delivery
                </p>
                {% endif %}
            </div>
        </div>

        <!-- Checkout and Back buttons -->
        <div class="row py-5">
            <div class="col">
                <div class="text-right">

                    <a href="{% url 'products' %}" class="btn btn-outline-dark mt-5">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>More Juice
                    </a>
                    
                    <a href="{% url 'checkout' %}" class="btn btn-dark mt-5">Checkout
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    <!-- If no cart items -->
    {% else %}
        <p class="text-center">No items found.</p>
        <a href="{% url 'products' %}" class="btn btn-outline-dark mt-5">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>Juices
        </a>
    {% endif %}
</section>
    
{% endblock %}

{% block extra_js %}
{{ block.super }}
    <script src="{% static 'js/quantity-input.js' %}"></script>
    <script src="{% static 'cart/js/remove-item.js' %}"></script>

{% endblock %}