{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Cart</h2>
            {% if cart_items %}
                <div class="table-responsive">
                    <table class="table table-borderless text-center">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="text-center">CART EMPTY!</p>
            {% endif %}
        </div>
    </div>    
</div> 

{% endblock %}