{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block content %}

<div class="container first-element-buffer">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Cart</h2>

            {% if cart_items %}
                <div class="table-responsive">
                    <table class="table table-borderless text-center">
                        <thead>
                            <tr>
                                <th scope="col">Item</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart_items %}
                            <tr>
                                <td>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20px" length="auto" viewBox="0 0 154 339">
                                            {% include 'products/includes/product-svg.html' %}
                                        </svg>
                                </td>
                                <td>{{ item.product.name }} <span class="text-muted">({{ item.nic.strength }} {{ item.nic.type }}, {{ item.size.label }})</span></td>
                                <td>£{{ item.price }}</td>
                                <td>
                                    <form action="{% url 'update_cart' item.item_id %}" method="POST" class="form update-form">
                                        {% csrf_token %}
                                        <div class="form-group d-flex justify-content-center">
                                            <div class="input-group"> 
                        
                                                <!-- Decrement qty -->
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-sm rounded-0" 
                                                        data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                        <i class="fas fa-caret-left fa-sm"></i>
                                                    </button>
                                                </div>
                        
                                                <!-- Input qty -->
                                                <input class="form-control form-control-sm qty_input text-center" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}" autocomplete="off">
                        
                                                <!-- Increment qty -->
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-sm rounded-0"
                                                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                        <i class="fas fa-caret-right fa-sm"></i>
                                                    </button>
                                                </div>
                        
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-link text-info"><small>Update</small></a>
                                    <a class="remove-item text-danger" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                                </td>
                                <td>£{{ item.price | calc_subtotal:item.quantity }}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="4" class="pt-5 text-right">
                                    {% if points_available > 0 and not discount_applied %}
                                        <div class="discount-wrapper mb-3">
                                            <a href="{% url 'toggle_discount' %}" >You have {{ points_available}} points available - Apply discount?
                                                <span class="icon text-success"><i class="fas fa-piggy-bank"></i>
                                                </span>
                                            </a>
                                        </div>
                                    {% endif %}
                                    <h6><strong>Cart Total: £{{ original_total|floatformat:2 }}</strong></h6>
                                    {% if discount_applied %}
                                        <h6><strong>After discount: £{{ total|floatformat:2 }}</strong></h6>
                                        <a href="{% url 'toggle_discount' %}" >Remove discount
                                            <span class="icon text-danger"><i class="fas fa-times"></i>
                                            </span>
                                        </a>

                                    {% endif %}
                                    <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>

                                    {% if request.user and total >= 1 %}
                                        <small class="text-info text-muted">You will earn {{ points_earned }} points for completing this purchase</small>
                                    {% endif %}

                                    <!-- Toggle discount -->

                                    {% if free_delivery_delta > 0 %}
                                        <p class="mb-1 text-warning">
                                            You could get free delivery by spending just <strong>£{{ free_delivery_delta|floatformat:2 }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-right">
                                    <a href="{% url 'products' %}" class="btn btn-outline-dark mt-5">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>Keep Shopping
                                    </a>
                                    
                                    <a href="{% url 'checkout' %}" class="btn btn-dark mt-5">Secure Checkout
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="text-center">Cart is empty!</p>
            {% endif %}
        </div>
    </div>    
</div> 

{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}

    <script type="text/javascript">
        // Update quantity on click
        $('.update-link').click(function(e) {
            let form = $(this).prev('.update-form');
            form.submit();
        })
    
        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            let csrfToken = "{{ csrf_token }}";
            let itemId = $(this).attr('id').split('remove_')[1];
            let url = `/cart/remove/${itemId}/`;
            let data = {'csrfmiddlewaretoken': csrfToken};
    
            $.post(url, data)
             .done(function() {
                 location.reload();
             });
        })
    </script>

{% endblock %}