{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="hero-image border-accent pb-5">

    <div class="hero-overlay"></div>
    <div class="hero-text-container">
        <h1 class="hero-heading">Moose Juice</h1>
        <h4>Hand-crafted e-liquid</h4>
        <p class="text-muted">Free delivery on orders over £{{ free_delivery_threshold }}!</p>
    </div>

</div>

<section id="intro-section">
    <div class="container py-5">
        <div class="row row-cols-1 row-cols-md-3">

            <div class="col mb-4">
                <div class="card card-intro h-100">
                    <div class="card-body">
                        <h5 class="card-title">Pick</h5>
                        <p class="card-text">Scrumptious flavours in a variety of nicotine strengths and sizes across our <span>three stupendous brands</span>.</p>
                        <p class="card-text">Whatever your style we've got you!</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card card-intro h-100">
                    <div class="card-body">
                        <h5 class="card-title">Review</h5>
                        <p class="card-text">We're always looking for feedback and will oontinue to expand and improve our <span>e-liquid menu</span>.</p>
                        <p class="card-text">Let us know what you think!</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card card-intro h-100">
                    <div class="card-body">
                        <h5 class="card-title">Profit</h5>
                        <p class="card-text">Get points for your purchases, reviews and - heck - just for <span>signing up!</span> We hope you'll come back again and again.</p>
                        <p class="card-text">Whatever you pick, it's bound to be good.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>





<div class="container text-center">

    <div>
        <h3>
            Buy > Review > Rewards
        </h3>
    </div>

    <div>
        <p>100 points for Registering</p>
        <p>1 points for every £1 spent</p>
        <p>5 points for reviewing a juice you've purchased</p>
    </div>
    <HR>
    </HR>
    <h3>Brands</h3>
    <div class="d-flex justify-content-around">
        {% for brand in brands %}
        <div>{{ brand.friendly_name }}</div>
        {% endfor %}
    </div>
    <hr>

    <h3>Flavour Profiles</h3>
    <div class="row d-flex justify-content-around">
        {% for category in categories %}
        <div class="col-12 col-sm-6 col-md-4 my-5">

            {% if category.image %}
            <a href="{% url 'products' %}?category={{category.name}}">
                <img class="mx-auto img-fluid mb-3 category-thumbnail" src="{{ category.image.url }}" alt="{{ category.friendly_name }}">
            </a>
            {% endif %}
            <div>{{ category.friendly_name }}</div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}

{% block extra_js %}

<script type="text/javascript" >
    $(document).ready(function () {
        $('.hero-overlay').fadeTo(3500, 0.4);
    })
</script>

{% endblock %}