{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="hero-image border-accent-primary">

    <div class="hero-overlay"></div>
    <div class="hero-text-container">
        <h1 class="hero-heading">Moose Juice</h1>
        <h5>E-liquid</h5>
        <h5>Home-brewed</h5>
        <h5>Get some</h5>
    </div>
</div>

<section id="intro-section" class="home-section">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3">

            <div class="col mb-4">
                <div class="card card-intro h-100">
                    <div class="card-body">
                        <h5 class="card-title">Pick <span>&#10230;</span></h5>
                        <p class="card-text">Scrumptious flavours in a variety of nicotine strengths and sizes across our three stupendous brands.</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-light" href="#brands-section">Brands</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card card-intro h-100">
                    <div class="card-body">
                        <h5 class="card-title">Taste <span>&#10230;</span></h5>
                        <p class="card-text">We're always looking for feedback and will continue to expand and improve our e-liquid menu.</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-light" href="#categories-section">Flavours</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card card-intro h-100">
                    <div class="card-body">
                        <h5 class="card-title">Profit <span>&#10230;</span></h5>
                        <p class="card-text">Get points for your purchases, reviews and - heck - just for signing up! We hope you'll come back again and again.</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-light" href="{% url 'account_signup' %}">Sign up!</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- <div>
    <p>100 points for Registering</p>
    <p>1 points for every £1 spent</p>
    <p>5 points for reviewing a juice you've purchased</p>
</div> -->

<section id="brands-section" class="home-section">
    <div class="container">
        <h3 class="mb-3 text-center heading-accent-light">Brands</h3>
        <!-- Mobile horizontal pills display -->
        <div class="row d-block d-md-none px-3">
            <ul class="nav nav-pills mb-3 flex-nowrap justify-content-center text-center" id="h-pills-tab" role="tablist">
                {% for brand in brands %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link {% if forloop.counter == 1 %}active{% endif %}" id="h-pills-{{ brand.id }}-tab" data-toggle="pill" href="#h-pills-{{ brand.id }}" role="tab" aria-controls="pills-{{ brand.id }}" aria-selected="{% if forloop.counter == 1 %}true{% else %}false{% endif %}">
                            {{ brand.friendly_name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="h-pills-tabContent">
                {% for brand in brands %}
                    <div class="tab-pane fade show {% if forloop.counter == 1 %}active{% endif %}" id="h-pills-{{ brand.id }}" role="tabpanel" aria-labelledby="h-pills-{{ brand.id }}-tab">
                        {{ brand.description }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Vertical pills display for larger resolutions -->
        <div class="row d-none d-md-flex">
            <div class="col-3">
                <div class="nav flex-column nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    {% for brand in brands %}
                        <a class="nav-link {% if forloop.counter == 1 %}active{% endif %}" id="v-pills-{{ brand.id }}-tab" data-toggle="pill" href="#v-pills-{{ brand.id }}" role="tab" aria-controls="v-pills-{{ brand.id }}" aria-selected="{% if forloop.counter == 1 %}true{% else %}false{% endif %}">
                            {{ brand.friendly_name }}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    {% for brand in brands %}
                        <div class="tab-pane fade show {% if forloop.counter == 1 %}active{% endif %}" id="v-pills-{{ brand.id }}" role="tabpanel" aria-labelledby="v-pills-{{ brand.id }}-tab">
                            {{ brand.description }}
                        </div>
                    {% endfor %}
                </div>
            </div>
          </div>
    </div>
</section>

<section id="categories-section" class="home-section">
    <div class="container text-center">
        <h3 class="heading-accent-dark">Flavour Profiles</h3>
        <div class="row d-flex justify-content-around">
            {% for category in categories %}
                <div class="col-6 col-md-4 mt-1 mb-4">
                    {% if category.image %}
                        <a href="{% url 'products' %}?category={{category.name}}">
                            <img class="mx-auto img-fluid mb-3 category-thumbnail" src="{{ category.image.url }}" alt="{{ category.friendly_name }}">
                        </a>
                    {% endif %}
                    <div><p>
                        {{ category.friendly_name }}
                    </p></div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}

{% block extra_js %}

<script type="text/javascript" >
    $(document).ready(function () {
        $('.hero-overlay').fadeTo(3000, 0);
        $('.hero-text-container').fadeTo(1500, 0.9);
    })
</script>

{% endblock %}