<div class="row">
    <div class="col-12 col-md-8 mx-auto">
        {% if edit %}
            <form method="POST" action="{% url 'edit_review' review.id %}#reviews-section" class="form mb-2">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-right mt-5">
                    <button class="btn btn-dark" type="submit">Update Review</button>
                </div>
            </form>
        {% else %}
            <form method="POST" action="{% url 'add_review' product.id %}#reviews-section" class="form mb-2">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-right mt-5">
                    <button class="btn btn-dark" type="submit">Submit Review</button>
                </div>
            </form>
        {% endif %}
    </div>            
</div>