{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="dashboard-container" class="container first-element-buffer">

  <h2 class="text-center">Your Dashboard</h2>
  <p class="text-center">Update, review and find out how you got those <strong>{{ points }} points</strong>!</p>

  <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active btn btn-outline-dark" id="pills-details-tab" data-toggle="pill" href="#pills-details" role="tab" aria-controls="pills-details" aria-selected="true">Details</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link btn btn-outline-dark" id="pills-orders-tab" data-toggle="pill" href="#pills-orders" role="tab" aria-controls="pills-orders" aria-selected="false">Orders</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link btn btn-outline-dark" id="pills-points-tab" data-toggle="pill" href="#pills-points" role="tab" aria-controls="pills-points" aria-selected="false">Points</a>
    </li>
  </ul>

  <div class="tab-content col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3" id="pills-tabContent">
  
    <!-- Details tab -->
    <div class="tab-pane fade show active" id="pills-details" role="tabpanel" aria-labelledby="pills-details-tab">
      <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-dark float-right">Update info</button>
      </form>
    </div>
  
    <!-- Orders tab -->
    <div class="tab-pane fade border-accent-primary" id="pills-orders" role="tabpanel" aria-labelledby="pills-orders-tab">
      <table class="table table-sm table-borderless text-center">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Order</th>
            <th scope="col">Items</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
            <tr>
              <td>{{ order.date|date:"SHORT_DATE_FORMAT" }}</td>
              <td><a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">{{ order.order_number|truncatechars:6 }}</a></td>
              <td>{{ order.lineitems.all|length }}</td>
              <td>£{{ order.grand_total }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  
    <!-- Points tab -->
    <div class="tab-pane fade border-accent-primary" id="pills-points" role="tabpanel" aria-labelledby="pills-points-tab">
      <table class="table table-sm table-borderless">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Event</th>
            <th scope="col">Points</th>
          </tr>
        </thead>
        <tbody>
            {% for event in rewards %}
              <tr>
                <td>{{ event.created_on|date:"SHORT_DATE_FORMAT" }}</td>
                <td>
                  {% if event.product %}
                    {{ event.reward.type }}: <a href="{% url 'product_detail' event.product.id %}">{{ event.product.name }}</a>
                  {% else %}
                    {{ event.reward.type }}
                {% endif %}
              </td>
                <td>{% if event.reward.type == "Redemption" %}-{{ event.points }}
                      {% elif event.points > 0 %}+{{ event.points }}
                      {% else %}{{ event.points }}
                    {% endif %}
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="3" class="text-center">No rewards</td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>

  </div>

</div>

{% endblock %}

{% block extra_js %}
{{ block.super }}

<script src="{% static 'profiles/js/tabs.js' %}"></script>

{% endblock %}