{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Profile</h2>
        </div>
    </div>

    <h2 class="text-center">
        Default delivery info
    </h2>
    <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-outline-dark">Update info</button>
    </form>
    <div class="col">
        <h2 class="text-center">
            Order History
        </h2>
        {% for order in orders %}
            <div><a href="{% url 'order_history' order.order_number %}">{{ order.order_number }}</a> | {{ order.date }} | £{{ order.grand_total }}</div>
            {% for item in order.lineitems.all %}
                <p>{{ item.product.friendly_name }}</p>
                <p>{{ item.bottle_size.label }}</p>
                <p>{{ item.nicotine.strength }}</p>
            {% endfor %}
        {% endfor %}
    </div>

{% endblock %}