{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}

<header class="container first-element-buffer">
    <div class="row">
        <div class="col mb-3">
            <h2 class="text-center">Checkout</h2>
        </div>
    </div>
</header>
<main class="container">
    <div class="row">
        <div class="col-12 col-lg-6 order-lg-last mb-5">
            <div class="checkout-items-container pb-3 border-accent-primary">
                <p>Order Summary</p>
                <div class="row mb-1">
                    <div class="col-7">
                        <p class="mb-1 mt-0 small text-muted">Juice</p>
                    </div>
                    <div class="col-2 text-center">
                        <p class="mb-1 mt-0 small text-muted">Qty</p>
                    </div>
                    <div class="col-3 text-right">
                        <p class="mb-1 mt-0 small text-muted">Subtotal</p>
                    </div>
                </div>
                {% for item in cart_items %}
                    <div class="row">
                        <div class="col-7">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0 small">{{ item.size.label }} bottle</p>
                            <p class="my-0 small">{{ item.nic.strength }} {{ item.nic.type}}</p>
                        </div>
                        <div class="col-2 text-center">
                            <p class="my-0 small"><strong>{{ item.quantity }}</strong></p>
                        </div>
                        <div class="col-3 text-right">
                            <p class="my-0 small"><strong>£{% if item.product.on_sale %}{{ item.size.sale_price | calc_subtotal:item.quantity }}{% else %}{{ item.size.price | calc_subtotal:item.quantity }}{% endif %}</strong></p>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="checkout-summary-container py-3 border-accent-primary text-right">
                <div class="row">
                    <div class="col-auto ml-auto">
                        Cart Total:
                    </div>
                    <div class="col-4 col-md-3">
                        <strong>£{{ original_total|floatformat:2 }}</strong>
                    </div>
                </div>
    
                {% if discount_applied %}
                    <div class="row text-secondary">
                        <div class="col-auto ml-auto">
                            <strong>Points used:</strong>
                        </div>
                        <div class="col-4 col-md-3">
                            <strong>{{ points_available }}</strong>
                        </div>
                    </div>
                    <div class="row text-secondary">
                        <div class="col-auto ml-auto">
                            <strong>Discount:</strong>
                        </div>
                        <div class="col-4 col-md-3">
                            <strong>- £{{ points_available|calc_divide:100|floatformat:2 }}</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto ml-auto">
                            After discount:
                        </div>
                        <div class="col-4 col-md-3">
                            <strong>£{{ total|floatformat:2 }}</strong>
                        </div>
                    </div>
                {% endif %}
    
                <div class="row">
                    <div class="col-auto ml-auto">
                        Delivery:
                    </div>
                    <div class="col-4 col-md-3">
                        <strong>£{{ delivery|floatformat:2 }}</strong>
                    </div>
                </div>
                
                <div class="row mt-1">
                    <div class="col-auto ml-auto">
                        <h5><strong>Grand Total:</strong></h5>
                    </div>
                    <div class="col-4 col-md-3">
                        <h5><strong>£{{ grand_total|floatformat:2 }}</strong></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <p>Your details</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset>
                    <legend class="fieldset-label small">Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                </fieldset>
                <fieldset>
                    <legend class="fieldset-label small">Delivery</legend>
                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    <div class="form-check form-check-inline float-right mr-0 my-3">
                        {% if user.is_authenticated %}
                            <label class="form-check-label text-muted" for="id-save-info">Save this delivery information to my profile</label>
                            <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                        {% else %}
                            <label class="form-check-label" for="id-save-info">
                                <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                            </label>
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset>
                    <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                    <!-- A Stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>

                    <!-- Used to display form errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <!-- Capture client secret to prevent duplicate orders in webhook_handler.py -->
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>

                <div class="submit-button text-right mt-5 mb-2">                    
                    <a href="{% url 'view_cart' %}" class="btn btn-outline-dark">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        Adjust Cart
                    </a>
                    <button id="submit-button" class="btn btn-dark">
                        Place Order
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                    <p class="small text-danger mt-1 my-0">
                        <span class="icon">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span>Your card will be charged <strong>£{{ grand_total|floatformat:2 }}</strong></span>
                    </p>
                </div>
            </form>
        </div>
    </div>
</main> 

{% endblock %}

{% block extra_js %}

    {{ block.super }}

    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe-elements.js' %}"></script>

{% endblock %}