/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Common styles */

:root {
    --color-dark: #343a40;
    --color-accent-dark: #ff7f54 ;
    --color-accent-light: #e4714b;
    --font-heading: 'Raleway', sans-serif;
    --font-default: 'Karla', sans-serif;
    --shadow-normal: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

html,
body {
    height: 100%;
}

/* https://css-tricks.com/couple-takes-sticky-footer/ */
body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-default);
}

.content {
    flex: 1 0 auto;
}

a:hover {
    text-decoration: none;
}

.link-normal {
    color: #3c7c9a;
    font-weight: 600;
}

.link-normal:hover {
    color: var(--color-dark)
}

.btn-dark:hover {
    color: #fff;
    background-color: var(--color-accent-light);
    border-color: var(--color-accent-light);
}

/* Navbar */

.logo {
    margin-right: 0.5em;
}

.border-accent-primary {
    border-bottom: solid 1px var(--color-accent-light);
}

.border-accent-dark {
    border-bottom: solid 1px var(--color-dark);
}

.navbar-nav .nav-link,
.cluster-icon .fa-heart {
    color: #fff !important;
}

.navbar-nav .nav-link:hover,
.cluster-icon .fa-heart:hover {
    color: var(--color-accent-dark) !important;
}

.navbar-dark .navbar-toggler {
    border: none;
}

/* Footer */

.footer {
  flex-shrink: 0;
  background-color: var(--color-dark);
  border-top: 1px solid var(--color-accent-dark);
}

.footer .fab {
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


.footer .fab:hover {
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2);
}


/* Search */

.container-search {
    position: absolute;
    top: 70px;
    z-index: 2;
}

.container-search .border {
    border: 1px solid #343a40!important;
}

.container-search input {
    background-color: transparent;
}

.btn:focus,
.form-control:focus,
.btn:active:focus:active:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-color: var(--color-accent-light) !important;
}

.first-element-buffer {
    margin-top: 155px;
}


/* Headings */

.first-element-buffer h2,
#reviews-section h2 {
    font-weight: 600;
    color: var(--color-accent-light);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
}

.heading-accent-dark {
    color: var(--color-accent-dark);
}

.heading-accent-light {
    color: var(--color-accent-light);
}


/* Toasts */

.message-container {
    position: fixed;
    top: 70px;
    right: 15px;
    min-width: 218px;
    z-index: 99999999999;
}

.close {
    color: #fff;
    opacity: 0.9;
}

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    color: var(--color-accent-dark);
    text-shadow: 0 1px 0 var(--color-accent-light);
    opacity: 1;
}

.toast hr {
    border-top: 1px solid var(--color-accent-light);
}

.toast-cart-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Modal */

.custom-modal .modal-header {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--color-accent-dark);
    background-color: var(--color-dark);
}

.custom-modal h5 {
    color: var(--color-accent-dark);
}


/* Home page */
.hero-image {
    flex: none;
    height: 90vh;
    position: relative;
    background-image: url('/media/background.svg');
    background-position-x: left;
    background-position-y: bottom;
    background-attachment: scroll;
    background-size: cover;
}

.hero-overlay {
    height: 100%;
    opacity: 1;
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
}

.hero-heading {
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 2em;
}

.hero-text-container {
    position: absolute;
    color: #000;
    opacity: 0;
    top: 50%;
    left: 55%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: right;
    white-space: nowrap;
}

.hero-text-container .h5 {
    white-space: nowrap;
}

#intro-section,
#categories-section {
    background-color: var(--color-dark);
}

.card-intro,
.card-intro .card-footer {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.card-intro .card-text {
    color: #fff;
}

.card-intro .h5 {
    color: var(--color-accent-dark);
    font-weight: 600;
}

.card-intro span {
    color: var(--color-accent-primary);
}

#rewards-explainer {
    font-size: 1.2rem;
}

#rewards-explainer p {
    color: var(--color-accent-dark);
    font-weight: 600;
}

#rewards-explainer ul {
    line-height: 180%;
}


.home-section {
    padding: 7rem 0;
}

#brands-section,
#intro-section {
    border-bottom: 1px solid var(--color-accent-dark);
}

#brands-section .container {
    min-height: 23rem;
}

.home-section .container > h2 {
    font-weight: 600;
    padding: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#brands-section .nav-pills .nav-link {
    color: var(--color-accent-primary);
}

#brands-section .nav-pills .nav-link:hover {
    color: var(--color-accent-primary);
}

#brands-section .nav-pills .nav-link.active {
    color: #fff;
    background-color: #343a40;
}

.tab-content>.active {
    line-height: 2rem;;
}

#categories-section p {
    color: #fff;
}

.category-thumbnail {
    height: 96px;
    width: 96px;
}

.card-footer a {
    color: #fff;
}

.category-thumbnail {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.category-thumbnail:hover {
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2);
}

/* Products */

.card {
    border: transparent;
}

.card-products {
    border: transparent;
}

.card-products .card-body,
.card-products .card-footer {
    border: transparent;
    background-color: #fff;
    padding: 0 0 0.5rem 0;
}

.product-svg-container {
    width: 100px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.product-img-container {
    display: contents;
}

.product-icon-container {
    position: absolute;
    top: 2%;
    right: 10%;
}

.product-flavour-container a {
    color: var(--color-dark);
    font-weight: 600;
}

.product-flavour-container a:hover {
    color: var(--color-accent-light);
}

.category-img-sm {
    height: 50px;
    width: 50px;
}

.category-heading {
    margin-top: 0.5rem;
}

.product-filter-text {
    margin-top: 1em;
}

.product-details-container .card {
    border: transparent;
}

.card-product-review .card-header {
    background-color: var(--color-dark);
    color: #fff
}

.card-product-review .card-footer {
    background-color: #fff;
    border-top: transparent;
}

.product-options h5 {
    font-weight: 600;
}

.update-link,
.remove-item,
.delete-modal-trigger {
    cursor: pointer;
}

/* Profile */

#dashboard-container .tab-content {
    height: calc(100vh - 320px);
    overflow: auto;
    margin-bottom: 3rem;
}

.btn-outline-dark:not(:disabled):not(.disabled).active:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
}

.nav-pills .nav-link {
    margin: 0.2em;
}

/* Add Product */

.add-product-svg-container {
    max-width: 200px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

/* Cart */

.cart-input-wrapper {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

/* Order Summary */

.order-summary-container h5,
.order-details-container h5 {
    color: var(--color-accent-light);
    font-weight: 600;
}

.order-details-container .row {
    margin-bottom: 1rem;
}

.order-details-container .col-auto {
    overflow-x: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

.order-summary-buttons-container a {
    margin-bottom: 0.5rem;
}

.receipt-details p {
    margin-bottom: 0.6rem;
}

/* Icons */

.icon {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.product-icon-container .fa-edit:hover,
.product-icon-container .fa-trash:hover {
    color: var(--color-dark);
}

.card-product-review i:hover {
    color: var(--color-accent-dark) !important;
}

.fa-heart,
.fa-heart-broken,
.fa-star,
.fa-tint,
.fa-phone,
.fa-envelope {
    color: var(--color-accent-light);
}

.product-icon-container span {
    margin-bottom: 0.3rem;
}

.icon-product>i:hover {
    color: #e44b4b;
}

/* Remove number spinner on number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* 404 page */

.dead-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-right {
    position: absolute;
    top: 80%;
    left: 84%;
    transform: translate(-50%, -50%);
}

/* Media queries */

@media (min-width: 1024px) {
    .hero-image {
        height: 100vh;
        background-attachment: fixed;
    }

    .hero-text-container {
        top: 50%;
        left: 75%;
        font-size: 2rem;
    }

    .hero-text-container .h5{
        font-size: 1.5rem;
    }

    .hero-text-container .btn {
        padding: .5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: .3rem;
    }

    .card-products:hover {
        -webkit-box-shadow: var(--shadow-normal);
                box-shadow: var(--shadow-normal);
    }

    .product-options {
        -webkit-box-shadow: var(--shadow-normal);
                box-shadow: var(--shadow-normal);
        border-bottom: transparent;
    }

    .product-details-container {
        border-bottom: transparent;
    }

    .edit-product-image-container {
        -webkit-box-shadow: var(--shadow-normal);
                box-shadow: var(--shadow-normal);
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }

}

@media (orientation: landscape) and (max-width: 1023px) {
    .hero-text-container {
        top: 65%;
        left: 70%;
    }

    #dashboard-container .tab-content {
        height: auto;
        overflow: auto;
    }
}

#dashboard-container .tab-content {
    height: calc(100vh - 320px);
    overflow: auto;
}


@media (min-width: 992px) {
    .order-details-container {
        border-right: 1px solid var(--color-dark);
    }

    #rewards-explainer {
        border: 1px solid;
        border-radius: .25rem!important;
    }
}

