
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Raleway&display=swap');

:root {
    --color-accent: #FF6633;
    --color-accent-alt: #343a40;
    --color-info: #0062cc;
    --font-heading: 'Raleway', sans-serif;
    --font-default: 'Karla', sans-serif;
}

html {
    height: 100%;
}


body {
    font-family: var(--font-default);
}

.navbar {
    border-bottom: solid 3px var(--color-accent);
}

.navbar-nav .nav-link,
.cluster-icon .fa-heart {
    color: #fff !important;
}

.navbar-nav .nav-link:hover,
.cluster-icon .fa-heart:hover {
    color: var(--color-accent) !important;
}

.navbar-dark .navbar-toggler {
    border: none;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
}


.home-image-container {
    height: 100vh;
    background: url('/media/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.update-link,
.remove-item {
    cursor: pointer;
}

.message-container {
    position: fixed;
    z-index: 999999;
}


/* Products */
.product-svg-container {
    width: 100px;
    align-self: center;
}

.product-detail-svg-container {
    max-height: 100px;
}

.product-heart-container {
    position: absolute;
    right: 10%;
}

a:hover {
    text-decoration: none;
}


/* Icons */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.fa-heart {
    color: var(--color-accent);
}


.icon-product:hover .fas.fa-heart:before {
    content: "\f7a9";
}

.icon-product:hover .far.fa-heart::before {
    content: "\F004";
    /* Required or the pseudo-class will not work: */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
