<li class="nav-item list-inline-item">
    <a class="nav-link" href="{% url 'favourites' %}" aria-label="Check out your favourites">
        <span class="icon cluster-icon">
            <i class="fas fa-heart fa-x2 fa-fw"></i>
        </span>
    </a>
</li>
<li class="nav-item list-inline-item">
    <a class="nav-link" href="{% url 'view_cart' %}" aria-label="View cart">
        {% if total %}
            £{{ total|floatformat:2 }}
        {% else %}
            £0.00
        {% endif %}
    </a>
</li>