{% extends "base.html" %}
{% load static %}
{% block extra_title %} - 404{% endblock %}
{% block content %}
<div class="dead-center">
    <h1>Oops! Page not found!</h1>
    <div>
        <a href="{% url 'products' %}" class="btn btn-outline-dark mt-5">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            Juices
        </a>
    </div>
</div>
<div class="bottom-right">
    <img src="{{ MEDIA_URL }}404.svg" alt="">
</div>
{% endblock %}