{% extends "base.html" %}
{% load static %}
{% block extra_title %} - 500{% endblock %}
{% block content %}
<div class="background-404">
    <div class="dead-center">
        <h1>Uh oh! Problems here...</h1>
        <div>
            <a href="{% url 'products' %}" class="btn btn-outline-dark mt-2">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                Back to the Juice!
            </a>
        </div>
    </div>
</div>

{% endblock %}