{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container first-element-buffer">
    <div class="row">
        <div class="col mb-3">
            <h2 class="text-center mb-5">Your Favourites</h2>
            {% if products|length > 0 %}
            <p class="text-center">You've chosen <strong>{{ products|length }}</strong> favourite
                Juice{{products|length|pluralize }}. Click a <span class="icon"><i
                        class="fas fa-heart fa-fw"></i></span> to remove it from the list - you can always add more!</p>
            {% else %}
            <p class="text-center">You've got no favourites to show at the moment - click a <span class="icon"><i class="fas fa-heart fa-fw"></i></span> to stick them in here.</p>
            {% endif %}
        </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 text-center">
        {% for product in products %}
            <div class="col mb-4">
                <div class="card h-100 border-white">
                    <div class="product-img-container">
                        <!-- https://stackoverflow.com/a/61685356
                        URL passed in from server to client side to be used in ajax call -->
                        <div class="product-heart-container" data-product={{product.id}} data-url="{% url 'toggle_favourite' product.id %}">
                            <span class="icon icon-product">
                                {% if product not in profile.favourites.all or not request.user.is_superuser %}
                                <i class="far fa-heart fa-lg"></i>
                                {% else %}
                                <i class="fas fa-heart fa-lg"></i>
                                {% endif %}
                            </span>
                        </div>
                        <div class="product-svg-container">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 154 339">
                                <a href="{% url 'product_detail' product.id %}">
                                    {% include 'products/includes/product-svg.html' %}
                                </a>
                            </svg>
                        </div>
                    </div>
                    
                    <div class="card-body">    
                        <h5 class="card-title">{{ product.name }}</h5>
                        
                        {% if product.average_rating %}
                            <div class="product-stars" data-value="{{ product.average_rating }}"></div>
                        {% else %}
                            <div>
                                <span>Not yet rated</span>
                            </div>
                        {% endif %}
                        {% if request.user.is_superuser %}
                            <small class="text-center">
                                <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                            </small>
                        {% endif %}
                    </div>
                    <div class="card-footer bg-white">
                        {% if product.brand.available_sizes.all|length > 1 %}From {% endif %}{% if product.on_sale %}<s>£{{ product.brand.available_sizes.all.0.price }}</s> £{{ product.brand.available_sizes.all.0.sale_price }}{% else %}£{{ product.brand.available_sizes.all.0.price }}{% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block extra_js %}

{{ block.super }}
<script src="{% static 'products/js/favourites-toggle.js' %}"></script>

{% endblock %}