{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container first-element-buffer pb-5 border-accent-primary">
    <div class="card card-product-detail">

        <div class="row no-gutters">
            <div class="col-2 col-lg-1 mx-auto align-self-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 154 339">
                    {% include 'products/includes/product-svg.html' %}
                </svg>
            </div>
            
            <div class="col-md-8">
                <div class="card-body">
                    <div class="row flex-nowrap">
                        <div class="col-10 offset-1">
                            <h2 class="card-title text-center">{{ product.name }}</h2>
                        </div>
                        <div class="col-1">
                            {% if request.user.is_authenticated %}
                                {% include 'products/includes/product-heart-container.html' %}
                            {% endif %}
                        </div>
                    </div>
                    
                    {% if request.user.is_superuser %}
                        <div class="text-center mb-3">
                            <a href="{% url 'edit_product' product.id %}" class="badge badge-secondary">Edit</a>
                            <a class="delete-modal-trigger badge badge-danger" data-toggle="modal" data-target="#productDeleteModal">Delete</a>
                        </div>

                    {% endif %}
        
                    {% if product.reviews.all %}
                        <div class="product-stars text-center" data-value="{{ product.average_rating }}"></div>
                        <p class="text-center"><a href="#reviews-section">{{ product.reviews.all | length }} review{{ product.reviews.all | length | pluralize }}</a></p>
                    {% else %}
                        <p class="text-center">Not yet reviewed</p>
                        <p class="text-center"><a href="#reviews-section">Leave your own?</a></p>
                    {% endif %}
                    
                    <p class="text-justify">{{ product.description }}</p>
                </div>
            </div>

            <div class="col-12 col-md-8 offset-md-4">
                <div class="product-flavour-container">
                    <ul class="list-inline text-center">
                        {% for tag in product.tags.all %}
                            <li class="list-inline-item"><a href="{% url 'products' %}?q={{tag.name}}">{{ tag.name | capfirst }}</a></li>
                        {% empty %}
                            <p>No flavours</p>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="container product-options mb-5 pb-5 border-accent-primary">
<div class="row">
    <div class="d-none d-md-block col-md-4 py-5 my-auto">
        <div class="card-nic-info">
            <h5>
                <span class="icon">
                <i class="fas fa-tint"></i>
                </span> Nic types?
            </h5>
            <p>Higher <strong>mg</strong> means more nicotine in each puff.</p>
            <p><strong>Freebase</strong> takes several minutes to enter the bloodstream. Ideal for sub-ohm vaping or if you want a stronger 'throat-hit' from a pod system.</p>
            <p><strong>Salts</strong> act quickly to mimic the effect of a cigarette. They provide a smoother 'throat-hit' and are ideally used in pod systems.</p>
          </div>
    </div>
    <div class="col-sm-12 col-md-8">
        <form class="form my-3 text-center" action="{% url 'add_to_cart' product.id %}" method="POST">
            {% csrf_token %}
            <div class="form-row">
                <!-- Size -->
                <div class="col-12 btn-group-toggle my-3" data-toggle="buttons">
                    <h5 class="my-3 text-center">Size</h5>
                    {% for size in product.brand.available_sizes.all %}
                        <label class="btn btn-outline-dark active m-1">
                            <input type="radio" name="size" value="{{ size.id }}" autocomplete="off" required> {{ size.label }}
                        </label>
                    {% endfor %}
                </div>
    
                <!-- Nic content -->
                <div class="col-12 btn-group-toggle my-3" data-toggle="buttons">
                    <h5 class="my-3 text-center">Nic content</h5>
                    {% for nic in product.brand.available_nics.all %}
                        <label class="btn btn-outline-dark active m-1">
                            <input type="radio" name="nic" value="{{ nic.id }}" autocomplete="off" required> {{ nic.strength }} {{ nic.type }}
                        </label>
                    {% endfor %}
                </div>
    
                <!-- Quantity -->
                <div class="col-auto mx-auto">
                    <h5 class="my-3 text-center" >Quantity</h5>
                    <div class="form-group d-flex justify-content-center">
                        <div class="input-group"> 
    
                            <!-- Decrement qty -->
                            <div class="input-group-prepend">
                                <button class="decrement-qty btn btn-black"
                                    type="button"
                                    data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                    <span class="icon">
                                        <i class="fas fa-caret-left"></i>
                                    </span>
                                </button>
                            </div>
    
                            <!-- Input qty -->
                            <input class="form-control qty_input text-center" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}" autocomplete="off">
    
                            <!-- Increment qty -->
                            <div class="input-group-append">
                                <button class="increment-qty btn btn-black"
                                type="button"
                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                    <span class="icon">
                                        <i class="fas fa-caret-right"></i>
                                    </span>
                                </button>
                            </div>
    
                        </div>
                    </div>
                </div>
    
                <!-- Add to cart / back -->
                <div class="col-12">
                    <a href="{% url 'products' %}" class="btn btn-outline-dark mt-5">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                         Juices
                    </a>
                    <input type="submit" class="btn btn-dark mt-5" value="Add to Cart">
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </div>
        </form>
    </div>
</div>

  <!-- Delete modal -->
    <div class="modal fade" id="productDeleteModal" tabindex="-1" aria-labelledby="productDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content custom-modal">
                <div class="modal-header">
                    <h5 class="modal-title" id="productDeleteModalLabel">Confirm deletion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                Are you sure you want to delete {{ product.name }}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                    <a class="btn btn-danger" href="{% url 'delete_product' product.id %}" >Delete</a>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="reviews-section" class="container">

    <h2 class="text-center">Reviews</h2>
    <div class="review-form-wrapper">
        {% if request.user.is_authenticated %}
            {% include 'products/includes/product-review-form.html' %}
        {% else %}
            <p class="text-center">Please <a href="{% url 'account_signup' %}">Register</a> or <a href="{% url 'account_login' %}">Login</a> to leave a review.</p>
        {% endif %}
    </div>

    <div class="reviews-wrapper py-5">
        {% for review in product.reviews.all %}
            <div class="card card-product-review my-5">
                <div class="card-header border-accent-primary">
                    <h5 class="card-title">{{ review.title }}</h5>
                    <div class="product-stars" data-value="{{ review.rating }}"></div>
                </div>
                <div class="card-body">
                    {% if review.verified_purchase %}<p><strong>Verified purchase</strong></p>{% endif %}
                    <p class="card-text">{{ review.body }}</p>
                </div>
                <div class="card-footer text-muted">
                    by {{ review.user.username }} on {{ review.created_on|date:"SHORT_DATE_FORMAT" }}
                </div>
            </div>
        {% empty %}
              <p class="text-center">No reviews yet!</p>
        {% endfor %}
    </div>

</section>

{% endblock %}

{% block extra_js %}

    {{ block.super }}
    <script src="{% static 'js/quantity-input.js' %}"></script>
    <script src="{% static 'products/js/favourites-toggle.js' %}"></script>
    <script src="{% static 'products/js/star-display.js' %}"></script>
    <script src="{% static 'products/js/delete-modal.js' %}"></script>
    
{% endblock %}
