{% extends "base.html" %}
{% load static %}

{% block content %}


<header class="container first-element-buffer">
    {% if brand %}
        <h2 class="text-center">{{ brand.friendly_name }}</h2>
        <p class="product-filter-text">{{brand.description}}</p>
    {% elif category %}
        <div class="row">
            <div class="col-1">
                {% if category.image %}
                <img class="category-img-sm mr-2" src="{{ category.image.url }}" alt="{{ category.friendly_name }}">
                {% endif %}
            </div>
            <div class="col-10">
                <h2 class="text-center category-heading">
                    {{ category.friendly_name }}
                </h2>
            </div>
            <div class="col-1"></div>
        </div>
        <p class="product-filter-text">{{ category.description}}</p>
    {% elif sale %}
        <h2 class="text-center">Sale</h2>
        <p class="product-filter-text">Grab your favourite Moose Juice while it's on sale!</p>
    {% else %}
        <h2 class="text-center">Moose Juice</h2>
        <p class="product-filter-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi eius laboriosam cumque
            suscipit aperiam, facere id eum inventore perspiciatis atque? Sed quidem maiores veniam eius hic aspernatur, non
            similique tempore.</p>
    {% endif %}
</header>


<nav class="container my-5">
    <div class="row">
        <div class="col-12 offset-md-8 col-md-4 offset-l-10 col-l-2 py-3">
            <select id="sort-selector" class="custom-select my-1 mr-sm-2">
                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                <option value="created_on_desc" {% if current_sorting == 'date_desc' %}selected{% endif %}>New arrivals
                </option>
                <option value="average_rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Top
                    rated</option>
                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>A-Z</option>
                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Z-A</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col my-3">
            <p class="py-3 border-accent-primary">
                <strong>{{ products|length }}</strong> Juice{{products|length|pluralize }}{% if search_term %} found with
                <strong>"{{ search_term }}"</strong>{% endif %}
            </p>
        </div>
    </div>
</nav>

<main class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 text-center">
        {% for product in products %}
        <div class="col mb-4">
            <div class="card card-products h-100">
                <div class="product-img-container">
                    {% if request.user.is_authenticated %}
                        {% include 'products/includes/product-icon-container.html' %}
                    {% endif %}
                    <div class="product-svg-container">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 154 339">
                            <a href="{% url 'product_detail' product.id %}" aria-label="Go to {{ product.name }} details page">
                                {% include 'products/includes/product-svg.html' %}
                            </a>
                        </svg>
                    </div>
                </div>

                <div class="card-body text-center">
                    <small>{{ product.brand.friendly_name|upper }}</small>
                    <h3 class="h5 card-title"><strong>{{ product.name }}</strong></h3>
                    {% if product.average_rating %}
                        <div class="product-stars" data-value="{{ product.average_rating }}"></div>
                    {% else %}
                        <div>
                            <span>Not yet rated</span>
                        </div>
                    {% endif %}
                    
                </div>

                <div class="card-footer">
                    {% if product.brand.available_sizes.all|length > 1 %}
                        From
                    {% endif %}
                    {% if product.on_sale %}
                        <s>£{{ product.brand.available_sizes.all.0.price }}</s> £{{ product.brand.available_sizes.all.0.sale_price }}
                    {% else %}
                        £{{ product.brand.available_sizes.all.0.price }}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</main>

{% endblock %}

{% block extra_js %}

{{ block.super }}
<script src="{% static 'products/js/sort-selector.js' %}"></script>
<script src="{% static 'products/js/star-display.js' %}"></script>
<script src="{% static 'products/js/favourites-toggle.js' %}"></script>

{% endblock %}