{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container">
        {% if brand %}
            <h2 class="text-center">{{ brand.friendly_name }}</h2>
            <p>{{brand.description}}</p>
        {% elif category %}
            <h2 class="text-center">{{ category.friendly_name }}</h2>
            <p>{{ category.description}}</p>
        {% elif sale %}
            <h2 class="text-center">Sale</h2>
            <p>Grab your favourite Moose Juice while it's on sale!</p>
        {% else %}
            <h2 class="text-center">Moose Juice</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi eius laboriosam cumque suscipit aperiam, facere id eum inventore perspiciatis atque? Sed quidem maiores veniam eius hic aspernatur, non similique tempore.</p>
        {% endif %}    
</div>


<div class="container my-5">
    <div class="row">
        <div class="col-12 offset-md-8 col-md-4 offset-l-10 col-l-2 py-3">
            <select id="sort-selector" class="custom-select my-1 mr-sm-2">
                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                <option value="created_on_desc" {% if current_sorting == 'date_desc' %}selected{% endif %}>New arrivals</option>
                <option value="average_rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Top rated</option>
                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>A-Z</option>
                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Z-A</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ products|length }} Juice{{products|length|pluralize }}{% if search_term %} found with <strong>"{{ search_term }}"</strong>{% endif %}
        </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 text-center">
        {% for product in products %}
            <div class="col mb-4">
                <div class="card h-100 border-white">
                    <div class="product-svg-container">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="auto" viewBox="0 0 154 339">
                            <a href="{% url 'product_detail' product.id %}">
                                {% include 'products/includes/product-svg.html' %}
                            </a>
                        </svg>
                    </div>
                    
                    <div class="card-body">
                        <div class="product-heart product-heart-container">
                            <a href="{% url 'toggle_favourite' product.id %}">
                                <span class="icon">
                                    {% if product not in profile.favourites.all %}
                                        <i class="far fa-heart fa-lg"></i>
                                    {% else %}
                                        <i class="fas fa-heart fa-lg"></i>
                                    {% endif %}
                                </span>
                            </a>
                        </div>
                        
                        {% if product.on_sale %}
                            <strong>Sale!</strong>
                        {% endif %}
                        
                        <h5 class="card-title">{{ product.name }}</h5>
                        
                        {% if product.average_rating %}
                            <small class="text-muted">{{ product.average_rating }} / 5</small>
                        {% else %}
                            <small class="text-muted">Not yet rated</small>
                        {% endif %}
                        {% if request.user.is_superuser %}
                            <small class="text-center">
                                <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                            </small>
                        {% endif %}
                    </div>
                    <div class="card-footer bg-white">
                        {% if product.brand.available_sizes.all|length > 1 %}From {% endif %}{% if product.on_sale %}<s>£{{ product.brand.available_sizes.all.0.price }}</s> £{{ product.brand.available_sizes.all.0.sale_price }}{% else %}£{{ product.brand.available_sizes.all.0.price }}{% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}


{% block extra_js %}

    {{ block.super }}

    <script type="text/javascript">
        $('#sort-selector').change(function() {
            let selector = $(this);
            let currentUrl = new URL(window.location);

            let selectedVal = selector.val();
            if(selectedVal != "reset"){
                let stringSplit = selectedVal.split("_")
                let direction = stringSplit[(stringSplit.length)-1];
                stringSplit.pop();
                let sort = stringSplit.join("_");

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>

{% endblock %}