{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <h2 class="text-center">{{ product.friendly_name }}</h2>
    <p>{{ product.description }}</p>
    <h3>Flavours:</h3>
    {% for tag in product.tags.all %}
        <ul>
            <li>
                <a href="{% url 'products' %}?q={{tag.name}}">{{ tag.name }}</a>
            </li>
        </ul>
    {% endfor %}
    <h3>Bottle size:</h3>
    {% for size in product.brand.available_sizes.all %}
        <ul>
            <li>{{ size.label }} (£{% if product.on_sale %}{{ size.sale_price }}{% else %}{{ size.price }}{% endif %})</li>
        </ul>
    {% endfor %}
    <h3>Nicotine strength:</h3>
    {% for nic in product.brand.available_nics.all %}
        <ul>
            <li>{{ nic.strength }} {{ nic.type }}</li>
        </ul>
    {% endfor %}

</div>

{% endblock %}